h1,h4{
    text-align: center;
}

img{
    width: 100%;
    margin-top: 10px;
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
}

section div{
    width: 24%;
    float: left;
}

@media (min-width: 1025px){}

@media (max-width: 1024px) and (min-width: 601px){
    section div{
        width: 49%;
    }
}

@media (max-width: 600px){
    section div{
        width: 98%;
    }
}